@import 'utils/variables';
@import 'components/basics';
@import 'components/header';
@import 'components/main-section';
@import 'components/assets-section';
@import 'components/service-section';
@import 'components/customers-section';
@import 'components/footer';
@import 'components/modal-window';
@import 'components/menu-section';
@import 'components/categories-section';
@import 'utils/mixins'
  
 
  