@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/globals';
@import 'components/basics';
@import 'components/header';
@import 'components/main-section';
@import 'components/assets-section';
@import 'components/service-section';
@import 'components/customers-section';
@import 'components/team-section';
@import 'components/footer';
@import 'components/modal-window';
@import 'components/menu-section';
@import 'components/categories_section';
@import 'components/mobile-menu';

  
 
  