  /* ====== ASSETS SECTION ====== */
  .assets-section{
    padding: 94px 0px;
    display: flex;
    align-content: center;


 &__list {
  display: flex;
   gap:30px;
   flex-direction: column;

   

   @include tablet{
   flex-direction: row;
    flex-wrap: wrap;

    
   }
   @include desktop{
    flex-wrap: nowrap;

   }
 }
 
 &__group{
   background-color: $TertiaryBG;
   border-radius: 4px;
   height:120px;
   max-width: 450px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
 }
 
 &__icon{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
  }
 
  &__header {
   font-size: 14px;
   line-height: 1.143;
   letter-spacing: 0.03em;
   margin-top:30px;
   margin-bottom:10px;
   font-weight: getFontWeight("Bold");
   font-family: $PrimaryFontFamily;
   color: $SecondaryFontColor

   
 }
 &__description {
   font-size: 14px;
   line-height: 1.714;
   letter-spacing: .03em;
   color: $PrimaryFontColor;
   font-weight: getFontWeight("Regular");
   font-family: $PrimaryFontFamily;
 }
 &__item {
   justify-content: space-between;
   flex-direction: column;
   max-width: 450px;

   @include tablet{
    max-width: 354px;
   }
 }
}
 
 /* ====== END ASSETS SECTION ====== */