 /* ====== CUSTOMERS SECTION ====== */

 .customers{
    padding: 94px 0px;
      
    &__list{
      display: flex;
      gap: 30px;
    
    }
    &__link{
      border: 1px solid currentColor;
      border-radius: 4px ;
      color:$PrimaryIconColor ;
      width: 170px;
      height: 92px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1)
    }
    
    &__link:hover,
    &__link:focus{
      color: $ActiveColor;
     
    }
    
    &__icon{
      fill: currentColor;
      transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex
    }
    
    
    
    &__header{
      font-size: 36px;
      line-height: 1.167;
      text-align: center;
      font-family:$PrimaryFontFamily;
      letter-spacing: 0.03em;
      color: $SecondaryFontColor;
      font-weight:  map-get($FontWeightBold );
      margin-bottom: 50px;
      }
  }
    
    /* ====== END CUSTOMERS SECTION ====== */