/* ====== HEADER ====== */
.header{
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #ececec;
  
  }
  
  .container--row{
    display: flex;
    align-items:center;
  }
  
  .header-list__item {
    text-decoration: none;
    font-weight:  map-get($FontWeightMedium );
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    position: relative;
  }
  
  .header-list{
    // display: flex;
    gap: 46px ;
  
  &__link {
    color: $SecondaryFontColor;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  
  }
  &__link:hover,
  &__link:focus {
    color: $ActiveColor;
  }
}
  .header-list {
    @include mobile{
    display: none;
    }
    @include tablet {
      display: flex;
      gap: 46px;
    }
  }

  
  .after{
    color: $ActiveColor;
    position: relative;
  
  &::after{
  content: "";
  display: block;
  width: 100%;
  background-color:$ActiveColor;
  height: 4px;
  position: absolute;
  border-radius: 4px;
  margin-top: 28px;
  }
}
  
  .header__navigation{
    margin-left: 93px;
  }
  
  .contact-list{
     margin-left:auto;
     display: flex;
     gap: 50px;
  
  &__item {
    display: inline-block;
    text-decoration: none;
    font-weight:  map-get($FontWeightMedium );
    font-size: 14px;
    line-height: 1.143;
    color:$PrimaryFontColor;
    letter-spacing: .03em;
    justify-content: space-between;   
  }
  &__link {
    color: $PrimaryFontColor;
    text-decoration: none;
    display:flex;
    gap:10px;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,
  &__link:focus{
    color: $ActiveColor;
  }
  
  &__icon{
    fill: currentColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    width: 18px;
    height: 14px;
  }
}
  
  
 
  
  
  /* ====== END HEADER ====== */