  /* ====== MAIN SECTION ====== */
  
  .main-section {
    background-color: $SecondaryBG;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    max-width: 1600px;
    margin:0 auto;
    padding: 118px 0;
    display: flex;
    align-items: center;
    background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%), url('../images/backgrounds/mobile-header-background-image1x.jpg');

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .main-section{
      background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%), url('../images/backgrounds/mobile-header-background-image2x.jpg');
    }
    }

    @include tablet{
      background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%), url('../images/backgrounds/tablet-header-background-image1x.jpg');

      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        .main-section{
        background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%), url('../images/backgrounds/tablet-header-background-image2x.jpg');
      }
      }

    }
    @include desktop{
      padding:200px 0;
      background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%), url('../images/backgrounds/desktop-header-background-image1x.jpg');

      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        .main-section{
        background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%), url('../images/backgrounds/desktop-header-background-image2x.jpg');
      }
      }
    }
  
  &__title {
    font-size: 26px;
    color: $QuaternaryFontColor;
    max-width: 365px;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 0.06em;
    font-weight: getFontWeight("Bold");
    margin-bottom: 30px;
    @include desktop{
    font-size: 44px;
    max-width: 696px;
    }
  }
  
  &__button .link {
    display: flex;
    color: $QuaternaryFontColor;
    background-color: $MainButtonBG;
    font-weight: getFontWeight("Extrabold");
    border: none;
    letter-spacing: 0.06em;
    font-size: 16px;;
    border-radius: 4px;
     min-width: 200px;
    align-items: center;
    padding: 18px 41px;
  align-items: center;
  text-align: center;
  margin:0 auto;
  justify-content: center;
  }


  }