  /* ====== MAIN SECTION ====== */
  
  .main-section {
    background-color: $SecondaryBG;
    background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 0%), url('../images/header-background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    max-width: 1600px;
    margin:0 auto;
    padding:200px 0;
  
  &__title {
    color: $QuaternaryFontColor;
    width: 696px;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 0.06em;
    font-size: 44px;
    font-weight: $FontWeightExtrabold;
    margin-bottom: 30px;
  }
  
  &__button .link {
    display: flex;
    color: $QuaternaryFontColor;
    background-color: $MainButtonBG;
    font-weight: $FontWeightBold;
    border: none;
    letter-spacing: 0.06em;
    font-size: 16px;;
    border-radius: 4px;
     min-width: 200px;
    align-items: center;
    padding: 18px 41px;
  align-items: center;
  text-align: center;
  margin:0 auto;
  justify-content: center;
  }
}
  /* ====== END MAIN SECTION ====== */