
  .menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
   
  .menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
  }
  
  .menu .link:hover,
  .menu .link:focus {
    text-decoration: underline;
  }
  
  .menu-toggle,
  .navigation-mobile__button {
    position:absolute;
    top: 22px;
    right:22px;
    min-height: 30px;
    min-width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    fill:currentColor;

    @include tablet{
      display: none;
    }

    @include desktop{
      display: none;
    }
  }
  

  
  .menu-toggle:hover,
  .menu-toggle:focus {
    fill:$ActiveColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-mobile__button:hover,:focus {
    fill:$ActiveColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .menu-container {
    position: fixed;
    inset: 0;
    padding: 32px;
    background-color: #fff;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    max-width: 100%;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  
  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: getColor('default');
  }
  
  .mobile-menu {
    height: 80vh;
    list-style: none;
  }
  
  .mobile-navigation {
    display: flex;
    flex-direction: column;
    gap: 32px;
  
    &__link {
      font-weight: getFontWeight("Medium");
      font-size: 40px;
      line-height: 47px;
      display: block;
      letter-spacing: 0.02em;
      color:$DetailColor;
      text-decoration: none;
    }
  }
  .mobile-navigation__link:hover,
  .mobile-navigation__link:focus {
        color:$ActiveColor;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
      }
    
  
  
  .mobile-contact {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 40%;
    &__link {
      text-decoration: none;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color:$PrimaryFontColor;
      letter-spacing: 0.02em
        }
  }

  .mobile-contact__link:hover,
  .mobile-contact__link:focus {
        color:$ActiveColor;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
      }
  
  .mobile-social-media {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
    &__link {
      text-decoration: none;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color:$ActiveColor;
      letter-spacing: 0.02em
    }
    &__separator {
      height: 22px;
      border: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
  