  /* ====== MODAL WINDOW ====== */
  
  .backdrop{
    position:fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.2);
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1)
    }
    
    .modal{
    position: absolute;
    max-width: 100%;
    min-height: 581px;
    background: $QuaternaryBG;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 40px;
    }
  
    .modal--svg-close{
      display: flex;
      align-items: center;
    }
    
    .modal--icon-close{
      transform: translate(-50%, -50%); 
      width:11px;
      height: 11px;
    } 
    
    .close-btn{
      position:absolute;
      top:8px;
      right:8px;
      width: 30px;
      height: 30px;
      background-color: $QuaternaryBG;
      border:1px solid rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      cursor:pointer;
      color: $SecondaryFontColor;
      font-size: 22px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    
    }
    
  
    
    .is-hidden{
      opacity: 0;
      visibility:hidden;
      pointer-events: none;
    }
    
    
    .signup-form__group{
      margin-top: 12px;
      padding-right:40px;
      padding-left:40px;
      display: flex;
      flex-direction: column;
    }
    .signup-form__header{
    font-family: $PrimaryFontFamily;
    font-weight: getFontWeight("Bold");
    font-size: 20px;
    line-height: 1.15px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $SecondaryFontColor;
    margin-top: 40px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .signup-form__container{
      position:relative;
      display:inline-block;
      margin-bottom: 20px;
      margin-top: 12px;
    }
    
    
    .signup-form__description{
      font-family: $PrimaryFontFamily;
      font-weight: getFontWeight("Regular");
      font-size: 12px;
      letter-spacing: 0.01em;
      color:$PrimaryFontColor;
      position: absolute;
    top:-20px;
    }
    
    .signup-form__input{
      width:100%;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      transition:border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      height:40px;
      padding-left:42px;
    font-family: $PrimaryFontFamily;
    font-weight: getFontWeight("Regular");
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    color: $InputFontColor;
    }
    
    .signup-form__textarea{
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      padding:12px 16px;
      resize: none;
      font-family: $PrimaryFontFamily;
      width: 100%;
      font-weight: getFontWeight("Regular");
      font-size: 12px;
      line-height: 1.67;
      letter-spacing: 0.01em;
      color: $InputFontColor;
      transition:border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    
      .signup-form__textarea:hover,
      .signup-form__textarea:focus{
      outline:none;
      border-color: $ActiveColor;
    }
    
    ::placeholder{
      color: $InputFontColor;
    }
    
    .signup-form__svg{
    position: absolute;
    top:50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .signup-form__icon{
    width:12px ;
    height:12px;
    }
    
    
    .signup-form__input:hover,
    .signup-form__input:focus{
      outline:none;
      border-color: $ActiveColor;
    }
    
    .signup-form__input:hover + .signup-form__svg {
      fill: $ActiveColor;
    }
    
    .signup-form__input:focus + .signup-form__svg {
      fill: $ActiveColor;
    }
    
    .submit-modal-button{
      width:200px;
      height:50px;
      background:$MainButtonBG;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin:0 auto;
      font-family: $PrimaryFontFamily;
      font-style: normal;
      font-weight: getFontWeight("Bold");
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.06em;
      color: $QuaternaryFontColor;
      margin-top: 30px;
    }
    
    .form-field{
      margin-bottom: 30px;
      margin-left: 55px;
      margin-right: 55px;
    }
    .form-description{
    font-family: $PrimaryFontFamily;
    font-weight: getFontWeight("Regular");
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $PrimaryFontColor;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding-left: 4px;
    }
    
    .inner {
      padding-left: 40px;
      padding-right: 40px;
      width: 100%;
      display: flex;
      align-items: center;
     }
    
    .privacy-policy{
      text-decoration-line: underline;
      color: $TertiaryFontColor;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    
    .option {
      display: block;
      margin-bottom: 9px;
      
    }
    
    /* Check */
    
    .check {
      padding-left: 32px;
      
    &__input {
      position: absolute;
      clip: rect(0 0 0 0);
      width: 1px;
      height: 1px;
      margin: -1px;
    }
    
    &__box {
      position: absolute;
      margin-top: -5px;
      margin-left: -20px;
      width: 16px;
      height: 15px;
      overflow: hidden;
      border: 2px solid #000000;
      border-radius: 2px;
      background-color: white;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    
    /* Checked */
    
    &__input:checked + &__box {
      background-image: url(/images/icon-check.svg);
      border: none;
    }
    
    /* Focused */
    
    /* .check__input:focus + .check__box {
      background-image: url(/images/icon-check.svg);
    } */
    
    /* Disabled */
    
    &__input:disabled + &__box {
      border: 2px solid #000000;
      background-color: white;
    }
  }
    
    /* ====== END MODAL WINDOW ====== */
    