// main-font-color: #757575;
$PrimaryFontColor:#757575;;

// second-font-color: #212121;
$SecondaryFontColor: #212121;

$TertiaryFontColor:#2196f3;
$QuaternaryFontColor:#ffffff;

// active-color: #2196f3;
$ActiveColor: #2196f3;

// button-background: #f5f4fa;
$SecondPageMenuButtonBG:#f5f4fa;

$MainButtonBG:#2196f3;

// second-background: #2f303a
$SecondaryBG:#2f303a;

// third-background: #f5f4fa;
$TertiaryBG:#f5f4fa;
$QuaternaryBG:#ffffff;

$PrimaryIconColor:#AFB1B8;
$SecondaryIconColor:#ffffff;
// $TertiaryIconColor:#2196f3;

$InputFontColor:rgba(117, 117, 117, 0.5);


$PrimaryFontFamily:"Roboto", sans-serif;
$SecondaryFontFamily:"Raleway", sans-serif;
$DetailColor: #000000;
