// main-font-color: #757575;
$PrimaryFontColor:#757575;;

// second-font-color: #212121;
$SecondaryFontColor: #212121;

$TertiaryFontColor:#2196f3;
$QuaternaryFontColor:#ffffff;

// active-color: #2196f3;
$ActiveColor: #2196f3;

// button-background: #f5f4fa;
$SecondPageMenuButtonBG:#f5f4fa;

$MainButtonBG:#2196f3;

// second-background: #2f303a
$SecondaryBG:#2f303a;

// third-background: #f5f4fa;
$TertiaryBG:#f5f4fa;
$QuaternaryBG:#ffffff;

$PrimaryIconColor:#AFB1B8;
$SecondaryIconColor:#ffffff;
// $TertiaryIconColor:#2196f3;

$InputFontColor:rgba(117, 117, 117, 0.5);


$PrimaryFontFamily:"Roboto", sans-serif;
$SecondaryFontFamily:"Raleway", sans-serif;
$DetailColor: #000000;



// $color_3: #000000;
// $color_4: var(--main-font-color);
// $color_5: #ffffff;
// $color_6: #212121;
// $color_7: #FFFFFF;
// $color_8: #AFB1B8;
// $color_9: #fff;
// $color_10: rgba(255, 255, 255, 0.6);
// $color_11: #757575;
// $color_12: rgba(117, 117, 117, 0.5);
// $color_13: #2196F3;
// $font-family_1: "Roboto", sans-serif, "Raleway", sans-serif;
// $font-family_2: "Raleway", sans-serif;
// $font-family_3: 'Roboto';
// $font-family_4: "Roboto";
// $font-family_5: "roboto";
// $background-color_1: var(--active-color);
// $background-color_2: var(--second-background);
// $background-color_3: #F5F4FA;
// $background-color_4: var(--third-background);
// $background-color_5: #ffffff;
// $background-color_6: rgba(255, 255, 255, 0.1);
// $background-color_7: #FFFFFF;
// $background-color_8: white;
// $background-color_9: var(--button-background);
// $border-color_1: var(--active-color);